{% load static %}

<footer class="footer pt-3 mt-3">
  <div class="container" >
    <div class="row">

      <div class="col-md-7 mb-3 ms-auto copyright text-center text-sm text-black text-lg-start">
            &copy; <a class="font-weight-bold text-black" >Equinox Tech</a> WinPark Adventures.
      </div>
      <div class="col-md-2 col-sm-5 ">
        <div>
            <a class="text-sm font-weight-bold text-black" >Company</a>
          <ul class="flex-column ms-n3 nav">
            <li class="nav-item">
              <a class="nav-link">
                <!--                 href="" target="_blank">-->
                About Us
              </a>
            </li>
          </ul>
        </div>
      </div>
      <div class="col-md-2 col-sm-6 col-6 mb-4">
        <div>
            <a class="text-sm font-weight-bold text-black" >Help & Support</a>

          <ul class="flex-column ms-n3 nav">
            <li class="nav-item">
              <a class="nav-link">
                <!--                 href="" target="_blank">-->
                Contact Us
              </a>
            </li>

            <li class="nav-item">
              <a class="nav-link" >
                Knowledge Center
              </a>
            </li>
          </ul>
        </div>
      </div>

    </div>
  </div>
</footer>